/** This preview file is NOT used in the frontend!
    You can use it to expose theme.json colors and settings
    redundantly for better preview, autocompletion and to prevent unresolved var() errors at development time
 */

:root {
    --wp--preset--color--base: #fffaee;
    --wp--preset--color--contrast: #011b3b;
    --wp--preset--color--primary: #5aa4e1;
    --wp--preset--color--secondary: #044c88;
    --wp--preset--color--tertiary: #12afa9;
    --wp--preset--color--dark-midnight-blue: #030f63;
    --wp--preset--color--midnight-blue: #191970;
    --wp--preset--color--soft-grass-green: #4b8402;
    --wp--preset--color--dark-deep-pink: #e50691;
    --wp--preset--color--pinkish-red-alert: #b80122;
    --wp--preset--color--pale-pink: #ffc0cb;
    --wp--preset--color--sandy-yellow: #ffe8b7;

    /* ^ Adjust the colors above to the theme.json palette for a proper editor preview! */
    /* You might use arbitrary values below just to ensure the properties are not undefined */

    --wp--preset--font-family--atkinson-hyperlegible: "Atkinson Hyperlegible", sans-serif;
    --wp--preset--font-family--markazi-text: "Markazi Text", serif;
    --wp--preset--font-family--nunito: "Nunito", "Avenir", "Futura", "Helvetica", sans-serif;
    --wp--preset--font-family--roboto-slab: "Roboto Slab", sans-serif;
    --wp--preset--font-family--roboto-slab-black: "Roboto Slab Black", "Arial Black", sans-serif;

    --wp--style--root--padding-top: 1rem;
    --wp--style--root--padding-bottom: 1rem;
    --wp--preset--font-size--small: small;
    --wp--preset--font-size--medium: medium;
    --wp--preset--font-size--large: large;
    --wp--preset--spacing--30: 2rem;
    --wp--preset--spacing--40: 3rem;
    --wp--preset--spacing--50: 4.5rem;
    --wp--preset--spacing--60: 7rem;
    --wp--preset--spacing--70: 8rem;
    --wp--preset--spacing--80: 11rem;
}